<% if collection %>

<h5>
  <em>
    <%= collection.detail.capitalize %> -
    Production: 3 weeks
    Shipping: 2 weeks
  </em>
</h5>
<div class="products-grid">
  <div class="row">
    <% collection.products.each do |product| %>
      <div class="col-xs-12 col-lg-4">
        <%= render partial: "shared/product_card", locals: { product: product, collection: collection } %>
      </div>
    <% end %>
  </div>
</div>

<% end %>
