.two-column-layout-container {
  display: flex;
  justify-content: space-between;
  .sidebar {
    flex: 0 0 25%;
    background-color: white;
    padding: 20px;
    .bio-box {
      .brand {
        font-size: 20px;
        color: gray;
        font-style: italic;
        margin-bottom: 5px;
      }
      .city {
        font-weight: 800;
      }
    }
    .bio-image {
      width: 150px;
      height: 150px;
      background-size: cover;
      background-position: center;
      margin: 0 auto;
    }
    .description {
      margin-top: 10px;
    }
    ul {
      li {

      }
    }

  }
  .content {

    .collection-header{
      border-bottom: 1px solid rgba(1,1,1,.3);
    }

    flex: 1 0 70%;
    padding: 0 50px;
    h2 {

    }
    p {

    }


  }
}
.long-text {
  line-height: 1.314;
}
