.designers-search-display {
  display: flex;
  justify-content: space-between;
  margin-left: -15px;
  margin-right: -15px;

  .search_col_container{
    flex: 0 0 25%;
    background-color: white;
    padding: 20px;

  }

  .designer-container{
     flex: 1 0 70%;
    padding-left: 50px;

  }
}

