var productCard = document.querySelector("[data-product='<%= @product.id %>']")
productCard.innerHTML = '<%= j render "shared/product_card", product: @product %>'

var flashDiv = document.getElementById("product-notice-<%= @product.id %>")
flashDiv.innerHTML = '<div class="alert alert-info alert-dismissible" role="alert">Removed from to selections</div>'
$(flashDiv).fadeOut(5000)

