<div class="banner banner-<%= banner_size %>" style="background-image: linear-gradient(180deg, rgba(69, 45, 19, 0.314) -14%, rgba(0, 39, 86, 0.314) 17%),url('https://sixtiescity.net/Fashion/stuff2102.jpg')";>
  <h1>
    <%= primary_header %>
  </h1>
  <p>
    <%= secondary_header %>
  </p>
  <!--  <a class="btn btn-primary btn-lg">Start now</a> -->
</div>
