<div class="designercard"</div>
  <%= link_to designer_path(designer) do %>
  <div class="brand-avatar" style="background-image:url('<%= image_path designer.profile_picture %>');"></div>
  <div class="brandname">
    <%= designer.brand %>
  </div>
<% end %>
</div>
