<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>All Designers</h1>
    </div>
  </div>
  <!-- For all designers -> make a designer card -->
  <div class="row">
    <% @designers.each do |d| %>
    <div class="col-xs-12 col-md-6">
      <%= render 'shared/designercard', designer: d %>
    </div>
    <% end %>
  </div>
</div>
