<%= render partial: 'shared/banner', locals: {
  primary_header: "",
  secondary_header: "",
  image: "https://i.pinimg.com/564x/c6/9e/fc/c69efcfef51732eb4f684e4b5089f96b.jpg",
  banner_size: "quarter"
} %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>All Designers</h1>
    </div>
  </div>
  <!-- For all designers -> make a designer card -->
      <% @designers.each do |d| %>
      <%= render 'shared/designercard', designer: d %>
      <% end %>
</div>
