


 <div class="col-xs-12 col-lg-6">
      <div class="sub-buyer">
        <h3> Buyers, </h3>
        <ul>
          <li>Discover and connect with designers globally</li>
          <li>Access virtual showrooms, linesheets and wholesale prices</li>
          <li>Prepare and share season plans</li>
          <li>Place orders and re-orders easily - anytime, anywhere</li>
          <li>Get real-time order status updates</li>
          <li>Have all your data organised in one place and get accurate analytics</li>
          <li>Simple integration with your POS system </li>
        </ul>
        <%= link_to "Request membership", new_retailer_registration_path, class: "btn-space-station"  %>
      </div>


    </div>





