  <div class="row">
    <div class="col-xs-12">

      <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.3) 50%), url('https://static.pexels.com/photos/547557/pexels-photo-547557.jpeg">
          <h1>Space-Station</h1>
          <p>Undiscovered fashion from all over the world</p>
         <!--  <a class="btn btn-primary btn-lg">Start now</a> -->
        </div>
      </div>

      <h1>Featured Designers</h1>
      <%= render 'shared/homepagecard' %>
      <%= render 'shared/homepagecard' %>
      <%= render 'shared/homepagecard' %>
    </div>
  </div>
