<%= render partial: 'shared/banner', locals: {
  primary_header: "Space Station",
  secondary_header: "Order from the world's most exotic and talented fashion designers",
  image: "https://loveexcellence.co.uk/sites/default/files/SPACE-CRAFT-1B-FINAL.jpg",
  banner_size: "full"
} %>



  <h1>Featured Designers</h1>
  <%= render 'shared/homepagecard' %>
  <%= render 'shared/homepagecard' %>
  <%= render 'shared/homepagecard' %>
