
<%= render partial: 'shared/banner', locals: {
  primary_header: "Space Station",
  secondary_header: "Order from the world's most exotic and talented fashion designers",
  image: "https://loveexcellence.co.uk/sites/default/files/SPACE-CRAFT-1B-FINAL.jpg",
  banner_size: "full"
} %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Our featured Designers</h1>
    </div>
  </div>
  <div class="row">
    <% @designers.sample(2).each do |d| %>
    <div class="col-xs-12 col-md-6">
      <%= render 'shared/designercard', designer: d %>
    </div>
    <% end %>
  </div>
</div>


<div class="container all-btn">
  <%= link_to designers_path do %>
  <div class="btn btn-warning"><p>Checkout all designers</p></div>
  <% end %>
</div>
<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
<script>
  var handler = Gmaps.build('Google');
  var styles = [
  {
    "elementType": "geometry",
    "stylers": [
    {
      "color": "#1d2c4d"
    }
    ]
  },
  {
    "elementType": "labels",
    "stylers": [
    {
      "visibility": "off"
    }
    ]
  },
  {
    "elementType": "labels.text.fill",
    "stylers": [
    {
      "color": "#8ec3b9"
    }
    ]
  },
  {
    "elementType": "labels.text.stroke",
    "stylers": [
    {
      "color": "#1a3646"
    }
    ]
  },
  {
    "featureType": "administrative",
    "elementType": "geometry",
    "stylers": [
    {
      "visibility": "off"
    }
    ]
  },
  {
    "featureType": "administrative.country",
    "elementType": "geometry.stroke",
    "stylers": [
    {
      "color": "#4b6878"
    }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "stylers": [
    {
      "visibility": "off"
    }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "elementType": "labels.text.fill",
    "stylers": [
    {
      "color": "#64779e"
    }
    ]
  },
  {
    "featureType": "administrative.neighborhood",
    "stylers": [
    {
      "visibility": "off"
    }
    ]
  },
  {
    "featureType": "administrative.province",
    "elementType": "geometry.stroke",
    "stylers": [
    {
      "color": "#4b6878"
    }
    ]
  },
  {
    "featureType": "landscape.man_made",
    "elementType": "geometry.stroke",
    "stylers": [
    {
      "color": "#334e87"
    }
    ]
  },
  {
    "featureType": "landscape.natural",
    "elementType": "geometry",
    "stylers": [
    {
      "color": "#023e58"
    }
    ]
  },
  {
    "featureType": "poi",
    "stylers": [
    {
      "visibility": "off"
    }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "geometry",
    "stylers": [
    {
      "color": "#283d6a"
    }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text.fill",
    "stylers": [
    {
      "color": "#6f9ba5"
    }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text.stroke",
    "stylers": [
    {
      "color": "#1d2c4d"
    }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "geometry.fill",
    "stylers": [
    {
      "color": "#023e58"
    }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "labels.text.fill",
    "stylers": [
    {
      "color": "#3C7680"
    }
    ]
  },
  {
    "featureType": "road",
    "stylers": [
    {
      "visibility": "off"
    }
    ]
  },
  {
    "featureType": "road",
    "elementType": "geometry",
    "stylers": [
    {
      "color": "#304a7d"
    }
    ]
  },
  {
    "featureType": "road",
    "elementType": "labels.icon",
    "stylers": [
    {
      "visibility": "off"
    }
    ]
  },
  {
    "featureType": "road",
    "elementType": "labels.text.fill",
    "stylers": [
    {
      "color": "#98a5be"
    }
    ]
  },
  {
    "featureType": "road",
    "elementType": "labels.text.stroke",
    "stylers": [
    {
      "color": "#1d2c4d"
    }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "geometry",
    "stylers": [
    {
      "color": "#2c6675"
    }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "geometry.stroke",
    "stylers": [
    {
      "color": "#255763"
    }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "labels.text.fill",
    "stylers": [
    {
      "color": "#b0d5ce"
    }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "labels.text.stroke",
    "stylers": [
    {
      "color": "#023e58"
    }
    ]
  },
  {
    "featureType": "transit",
    "stylers": [
    {
      "visibility": "off"
    }
    ]
  },
  {
    "featureType": "transit",
    "elementType": "labels.text.fill",
    "stylers": [
    {
      "color": "#98a5be"
    }
    ]
  },
  {
    "featureType": "transit",
    "elementType": "labels.text.stroke",
    "stylers": [
    {
      "color": "#1d2c4d"
    }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "geometry.fill",
    "stylers": [
    {
      "color": "#283d6a"
    }
    ]
  },
  {
    "featureType": "transit.station",
    "elementType": "geometry",
    "stylers": [
    {
      "color": "#3a4762"
    }
    ]
  },
  {
    "featureType": "water",
    "elementType": "geometry",
    "stylers": [
    {
      "color": "#0e1626"
    }
    ]
  },
  {
    "featureType": "water",
    "elementType": "labels.text.fill",
    "stylers": [
    {
      "color": "#4e6d70"
    }
    ]
>>>>>>> master
  }
  ]

  handler.buildMap({
    provider: {
      styles: styles,
      // zoomControl: false,
      // zoom: 1,
      gestureHandling: "none"
        // pass in other Google Maps API options here
        // => https://developers.google.com/maps/documentation/javascript/reference#MapOptions

      },
      internal: { id: 'map' }
    }, function() {

      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();

      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  </script>
  <% end %>




