.btn-medium {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}
.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

/* Build your own button classes ! */

.btn-space-station {
  background-color: #f49b3f;
  color: white;
  padding: 10px 20px;
  margin: 0 20px;
  box-shadow: 2px 0px 4px rgba(1,1,1,0.2);
  border: none;
  &:hover, &:active, &:focus {
    color: white;
    text-decoration: none;
  }
}
