.designercard {
  display: flex;
  flex-direction: column;
  justify-items: space-around;
  align-items: center;
  text-align:center;
  padding: 0px;
  margin: 20px auto;
  a {
    display: inline-flex;
    margin: 0 auto;
    position: relative;
    height: 100%;
    &:hover .card-back {
      opacity: 1;
    }
  }
  .card-back {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 300ms ease;
    .card-back-image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: top;
    }
  }
  .collection-photos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
  }
}

.brand-avatar {
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 5px;
  & :hover {
    opacity: 50%
  }
}

.brandname {
  margin-top:9px;
  font-size:14px;
  text-transform: uppercase;
    font-weight: bolder;
  text-align: center;
}

