.marker-image {
  width: 191px;
  height: 211px;
}

.marker-title {

}

// geef a class en text deco none
.marker-link {
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}

.marker-card {
  // background-color: white;
  // box-shadow: 3px 3px 3px black;
}

#map {
  margin: 40px auto;
  border-radius: 5px;
  width: 80% !important;
}

// .gray-wrapper {
//   background-color: #cccccc;
// }
