
table {
    text-align: center;
    border: 1px solid #ccc;
    width: 100%;
   }
th {
  text-align:center;
}

td {
    width: 200px;
    border: 1px solid #ccc;
    font-size:10px;
}

.price-input {
  width:63px;
}


