.product-image {
  width:100%;
}
.product-header {
  align-items:center;
  padding: 20px;
  margin: 0;
  border: 1px solid rgba(.5,.5,.5,.3);
  display: block;
  margin: 0;
  form {
    display: flex;
    margin: 10px 0;
    justify-content: center;
    .btn-space-station {
      margin: 0;
    }
  }
}



.product-highlight-picture {
  height: 650px;
  background-size: contain;
    background-repeat: no-repeat;
}


