.products {
  padding: 20px;

  .product-image {
    width: 200px;
    height: 200px;
    background-size: cover;
  }

  .product-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: white;
  }

  .product-details {
    max-width: 200px;
  }

  span {
    font-weight: bolder;
  }
  h2 {
    text-align: center;
  }
}


