.product-card {
  background-color: white;
  box-shadow: 2px 2px 4px rgba(1,1,1, 0.2);
  padding: 20px;
  border-radius: 3px;

  .product-image {
    width: 200px;
    height: 200px;
    background-size: cover;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
  }
  ul {
    list-style: none;
  }
  span {
    font-weight: bolder;
  }
  h2 {
    text-align: center;
  }
}


