.sidebar {
  padding:30px;
  border-radius:9px;
  // border: thin solid rgba(1,1,1,0.3);
  // box-shadow: 0px 1px 5px rgba(1, 1, 1, 0.3);
  width:234px;
  ul {
    list-style: none;
    li {
      margin: 10px 0;
    }
    li:before {
      content: "+";
      padding-right: 5px;
    }
  }

  h4 { line-height: 27px;
   text-align:center;
   border-bottom: thin solid rgba(1,1,1,0.3);
   border-top: thin solid rgba(1,1,1,0.3);

 }

 #connect-btn {
  margin-top:20px;
}
}

.first-section {
  padding-bottom: 10px;
  h2 {
    text-align: left;
  }

}


//   .search-col-container {
//     padding: 30px;
//     background-color: white;
//     width: 270px;
//     margin: 20px;
//     border-radius: 9px;
// }
