.avatar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.brandname {
  font-weight: bold;
  text-align: center;
}
.brand-avatar {
  background-size: cover;
}
.product-image {
  height: 220px;
  width: 100%;
  background-size: cover;
  border-radius: 3px;
  border: 1px solid black;
}
.designercard {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px grey;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
  padding: 10px;
}

